<% include header %>
    <h1>Welcome to
        <%=title%>
            <p>usage: /api/imagesearch/:searchterm</p>
            <p>use ?offset= and a number to paginate search results</p>
    </h1>
    <% include footer %>