<% include header %>
    <h1>Welcome to
        <%=title%>
    </h1>
    <p>usage: /api/imagesearch/:searchterm - to search for image links</p>
    <p>use ?offset= and a number to paginate search results</p>
    <p>use /api/latest/imagesearch to find a recent history of search terms</p>
    <% include footer %>